<main class="page">

    <div *ngIf="!getDataError">
        <section class="table">
            <mat-card class="data-table">
                <mat-card-header>
                    <mat-card-title>Logs</mat-card-title>
                    <div class="tb-count">{{dataSource.data.length}}</div>
                </mat-card-header>
                <mat-card-content *ngIf="dataSource.data.length != 0">

                    <div class="table-filters">
                        <mat-form-field class="filter-form" appearance="fill" *ngFor="let cltfilter of cltFilters">
                            <mat-label>
                                <mat-icon>filter_alt</mat-icon>Filter by {{cltfilter.placeholder}}</mat-label>
                            <mat-select [(value)]="cltfilter.defaultValue"
                                (selectionChange)="applyCltFilter($event, cltfilter)">
                                <mat-option *ngFor="let op of cltfilter.options" [value]="op">
                                    {{op}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <table [dataSource]="dataSource" mat-table aria-label="Logs">

                        <ng-container matColumnDef="_id">
                            <th mat-header-cell *matHeaderCellDef>Log ID</th>
                            <td mat-cell *matCellDef="let row">{{row._id}}</td>
                        </ng-container>

                        <ng-container matColumnDef="typeOfLog">
                            <th mat-header-cell *matHeaderCellDef>Type of Log</th>
                            <td mat-cell *matCellDef="let row">
                                <div
                                    [ngClass]="{infcolor: row.typeOfLog === 'Info', dgcolor: row.typeOfLog === 'Debug', ercolor: row.typeOfLog=== 'Error'}">
                                    {{row.typeOfLog}}</div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="microservice">
                            <th mat-header-cell *matHeaderCellDef>Micoservice</th>
                            <td mat-cell *matCellDef="let row">{{row.microservice}}</td>
                        </ng-container>

                        <ng-container matColumnDef="screen">
                            <th mat-header-cell *matHeaderCellDef>Screen</th>
                            <td mat-cell *matCellDef="let row">{{row.screen}}</td>
                        </ng-container>

                        <ng-container matColumnDef="os">
                            <th mat-header-cell *matHeaderCellDef>Operating System</th>
                            <td mat-cell *matCellDef="let row">{{row.os}}</td>
                        </ng-container>

                        <ng-container matColumnDef="message">
                            <th mat-header-cell *matHeaderCellDef>Message</th>
                            <td mat-cell *matCellDef="let row">{{row.message}}</td>
                        </ng-container>

                        <ng-container matColumnDef="developer.name">
                            <th mat-header-cell *matHeaderCellDef>Developer</th>
                            <td mat-cell *matCellDef="let row">{{row.developer == null ? 'Unassigned' : row.developer}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef>Status</th>
                            <td mat-cell
                                [ngClass]="{nwcolor: row.status === 'New', ipcolor: row.status === 'In Progress', dncolor: row.status=== 'Done'}"
                                *matCellDef="let row">
                                {{row.status}}</td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef>Actions</th>
                            <td mat-cell *matCellDef="let row">
                                <button (click)="openViewModal(row)" class="table-btn primary-color">View</button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    </table>
                </mat-card-content>
                <mat-paginator #paginator [length]="dataSource.data.length" [pageSize]="50"
                    [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons>
                </mat-paginator>

                <div *ngIf="dataSource.data.length == 0" class="page-error">
                    <mat-icon>filter_none</mat-icon>
                    <mat-error>No Logs found</mat-error>
                </div>

            </mat-card>
        </section>
    </div>

    <div *ngIf="getDataError" class="page-error">
        <mat-icon>error</mat-icon>
        <mat-error>{{errorMessage}}</mat-error>
    </div>

</main>

<div class="modal-container" id="viewLogModal">
    <div class="confirm-modal-info">
        <mat-card>
            <mat-card-header>
                <mat-card-title>View Log</mat-card-title>
                <div class="close-btn" (click)="closeViewModal()">&times;</div>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <div class="info-item">
                            <mat-icon>note</mat-icon>
                            <p class="title">Log Details</p>
                        </div>
                        <div class="info-details">
                            <div class="info-col">
                                <p class="label">ID:</p>
                                <p class="detail">{{viewLog._id}}</p>
                            </div>
                            <div class="info-col">
                                <p class="label">Type:</p>
                                <p class="detail">{{viewLog.typeOfLog}}</p>
                            </div>
                            <div class="info-col">
                                <p class="label">Microservice:</p>
                                <p class="detail">{{viewLog.microservice}}</p>
                            </div>
                            <div class="info-col">
                                <p class="label">Message:</p>
                                <p class="detail"><i>" {{viewLog.message}} "</i></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="info-item">
                            <mat-icon>dock</mat-icon>
                            <p class="title">Device Details</p>
                        </div>
                        <div class="info-col">
                            <p class="label">Screen:</p>
                            <p class="detail">{{viewLog.screen}}</p>
                        </div>
                        <div class="info-col">
                            <p class="label">Operating System:</p>
                            <p class="detail">{{viewLog.os}}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="info-item">
                            <mat-icon>person</mat-icon>
                            <p class="title">Assignement Details</p>
                        </div>
                        <div class="info-col">
                            <p class="label">Status:</p>
                            <p class="detail">{{viewLog.status}}</p>
                        </div>
                        <div class="info-col">
                            <p class="label">Developer :</p>
                            <p class="detail">{{viewLog.developer == null ? 'Unassigned' : viewLog.developer}}</p>
                        </div>
                    </div>
                </div>
                <div class="confirm-btns">
                    <button *ngIf="viewLog.typeOfLog == 'Error' || viewLog.typeOfLog == 'Fatal'" 
                    class="modal-btn update-color" (click)="assignToDev()">Assign To Self</button>
                    <!-- <button *ngIf="viewLog.status == 'New'" 
                    class="modal-btn activate-color" (click)="markAsDone()">Mark As Done</button> -->
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>