<mat-toolbar *ngIf="isLoggedIn$ | async as isLoggedIn">
  <div class="toolbar-left">
    <button type="button" mat-icon-button (click)="toggleDrawer()" *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>

  </div>
  <div class="profile">
    <div>
      <p class="username">{{name}}</p>
      <p class="tagline">{{role}}</p>
    </div>
    <div class="tooltip">
      <a (click)="onLogout()"><mat-icon class="nav-icon">exit_to_app</mat-icon></a>
      <span class="tooltiptext">Logout</span>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav id="drawer" class="sidenav" *ngIf="isLoggedIn$ | async as isLoggedIn"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <p>Overall</p>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active-menu" routerLink="/home">
        <mat-icon class="nav-icon">home</mat-icon>
        Recent
      </a>
      <a mat-list-item routerLinkActive="active-menu" routerLink="/errors">
        <mat-icon class="nav-icon">error</mat-icon>
        Errors
      </a>
      <a mat-list-item routerLinkActive="active-menu" routerLink="/profile">
        <mat-icon class="nav-icon">person</mat-icon>
        Profile
      </a>

      <p>Developer Options</p>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="active-menu" routerLink="/api_key">
        <mat-icon class="nav-icon">vpn_key</mat-icon>
        API Key
      </a>
    </mat-nav-list>

    <div class="bottom-nav">
      <img src="../assets/images/twittnow_small_logo.png" alt="">        
      <p>Copyright © 2022</p>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>