@use '@angular/material' as mat;
@include mat.core();

$Dashboard-primary: mat.define-palette(mat.$blue-palette);
$Dashboard-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$Dashboard-warn: mat.define-palette(mat.$red-palette);
$Dashboard-theme: mat.define-light-theme((
  color: (
    primary: $Dashboard-primary,
    accent: $Dashboard-accent,
    warn: $Dashboard-warn,
  )
));
@include mat.all-component-themes($Dashboard-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.card{
    display: flex;
    flex-direction: column;
    border: .5em;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;
}

.card-head {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
    }

.card-body {
    padding: 1rem 1.5rem; 
}