// colors
$primary: #1C96E8;
$grey: #D6D6D9;
$new: #32CD30;
$delete: #E4021B;
$update: #17A2B8;
$suspend: #6C757D;
$activate: #E0AA38;

// fonts
@font-face {
    font-family: Poppins-Bold;
    src: url(../src/assets/fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../src/assets/fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../src/assets/fonts/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../src/assets/fonts/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Poppins-Light;
    src: url(../src/assets/fonts/Poppins-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Poppins-Thin;
    src: url(../src/assets/fonts/Poppins-Thin.ttf);
    font-weight: 200;
}

$font-light: Poppins-Light, "Helvetica Neue", sans-serif;
$font-thin: Poppins-Thin, "Helvetica Neue", sans-serif;
$font-reg: Poppins-Regular, "Helvetica Neue", sans-serif;
$font-med: Poppins-Medium, "Helvetica Neue", sans-serif;
$font-semibold: Poppins-SemiBold, "Helvetica Neue", sans-serif;
$font-bold: Poppins-Bold, "Helvetica Neue", sans-serif;