@import '../../../theme/variables.scss';

.forgot-card{
  width: 50%;
  height: 50%;
  border-radius: 7px !important;
  text-align: center;
}

.app-desc{
  img{
    width: 120px;
    margin: 20px 0px;
  }

  h3{
    margin-block: 0px;
    color: $primary;
  }

  p{
    margin-block: 0px;
    font-size: 14px;
  }
}

.form-btn{
  width: 60%;
  margin-top: 25px;
}

.form-field{
  width: 60%;
  margin-left: 20%;

  input{
    font-size: 12px;
    width: 100%;
    background-color: rgba(233, 241, 245, 0.4);
  }

}