<main class="auth-page-bg">
    <mat-card class="forgot-card">
        <div class="app-desc">
            <img src="" alt="">
            <h3>Forgot your Password?</h3>
            <p>Don't worry. It happens to the best of us</p>
        </div>
        <form [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()">
            <div class="flex">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Email Address" formControlName="email" required>
                    <mat-icon matSuffix>alternate_email</mat-icon>
                    <mat-error *ngIf="forgotPassForm.controls['email'].hasError('required')">
                        Your email address name is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="forgotPassForm.controls['email'].hasError('pattern')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
            </div>

            <button *ngIf="!isLoading" mat-raised-button class="form-btn" color="primary" type="submit"
                [disabled]="forgotPassForm.invalid">Send Recovery Email</button>
                <div *ngIf="isLoading" class="spinner">
                    <mat-spinner strokeWidth="3" diameter="40" ></mat-spinner>
                </div>
            <mat-error class="form-error" *ngIf="isFormError">{{errorMessage}}</mat-error>
        </form>
    </mat-card>
</main>